<!--############## start contact section ################# -->
<section style="height: 91vh;" class="container layout-container">


  <div class="mb-4">
    <h1>Contact Us</h1>
    <h2>How may we help you?</h2>
    <p>Our agents are available 24x7 to make sure that all your issues and inquiries are resolved.</p>
  </div>


  <div class="row">
    <div class="col-xs-16 col-sm-12">
      <!-- <section class="">
        <div class="btn-group btn-group-justified most-tab-group" role="group">
          <div class="btn-group" role="group">
            <button class="btn b-b customerBtn active b-radius-0" onclick="changeSection('customer')">
              <div class="active">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user" class="" role="img" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                  </path>
                </svg>
                <span class="ms-2">Need Help?</span>
              </div>
            </button>
          </div>
        </div>
      </section> -->

      <!-- <div class="guest-section">
        <p class="mb-3">Please login to see your orders</p><span class="d-inline-block text-uppercase">
          <a class="primary-button d-block" rel="noopener noreferrer" routerLink="/login">Login</a></span>
      </div> -->

        <div class="container">
          <h2 class="helpheder">How can we help?</h2>

          <div class="helpContainer">
            <div class="helpdrop">
              <input id="navi-toggle" type="checkbox" class="dropdownCheckbox">
              <label for="navi-toggle" class="dropdownButton">
                <div class="helpLabel">
                  <svg viewBox="0 0 30 30" xml:space="preserve" class="mRkLw">
                    <path fill="#E9E9E9"d="M5.6 19.17h19.64c-.54-5.3-4.74-9.28-9.82-9.28s-9.29 3.98-9.82 9.28zm13.2-6.98c.16-.24.48-.3.71-.14.12.08 2.89 1.96 3.63 4.6.08.27-.08.56-.35.63-.05.01-.09.02-.14.02-.22 0-.43-.15-.49-.37-.64-2.28-3.18-4.01-3.21-4.03a.517.517 0 0 1-.15-.71z"></path>
                    <path fill="#3F3F3F"d="M5.4 20.3h20.02c.55 0 .99-.5.94-1.08-.5-5.67-4.93-10.13-10.4-10.42l.02-.97a.506.506 0 0 0-.5-.52c-.28.02-.52.22-.52.5l-.02.99c-5.51.24-9.97 4.72-10.47 10.41-.06.58.38 1.09.93 1.09zm19.83-1.13H5.6c.54-5.3 4.74-9.28 9.82-9.28s9.28 3.98 9.81 9.28zM26.69 22.14H3.95c-.28 0-.51.23-.51.51s.23.51.51.51h22.74c.28 0 .51-.23.51-.51s-.22-.51-.51-.51z"></path>
                    <path fill="#3F3F3F"d="M22.15 16.92c.06.23.27.37.49.37.05 0 .09-.01.14-.02a.51.51 0 0 0 .35-.63c-.74-2.64-3.51-4.52-3.63-4.6a.506.506 0 0 0-.71.14c-.16.23-.1.55.14.71.04.02 2.59 1.76 3.22 4.03z"></path>
                  </svg>
                  <div><div class="helpText">I can't place my order</div></div>
                </div>
                <svg width="8" height="16"  class="helpArrow">
                  <path d="m1 1 6 7-6 7" class="right-arrow-head_svg__ic-svg__right-arrow-head" stroke-width="2" fill="none"
                    fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </label>

              <div class="dropdownMenu">
                <ol>
                  <li> Made sure the restaurant is open?</li>
                  <li> Entered your payment details correctly?</li>
                  <li> Reached the minimum order value?</li>
                </ol>
              </div>
            </div>
          </div>

          <!-- ----------- two -------------- -->

          <div class="helpContainer">
            <div class="helpdrop">
              <input id="navi-toggle2" type="checkbox" class="dropdownCheckbox">
              <label for="navi-toggle2" class="dropdownButton">
                <div class="helpLabel">
                  <svg viewBox="0 0 31 30"><g fill="none" fill-rule="evenodd">
                      <path fill="#E9E9E9" stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round"d="M25 24H7a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h18a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2z"></path>
                      <path fill="#FFF" d="M5.5 10h21v4h-21z"></path>
                      <path stroke="#3F3F3F" stroke-linecap="round" stroke-linejoin="round" d="M9 19h5m8 0h1"></path>
                      <path stroke="#3F3F3F" d="M5 10h22M5 14h22"></path></g>
                  </svg>
                  <div><div class="helpText">Online payment didn't go through</div></div>
                </div>
                <svg width="8" height="16"  class="helpArrow">
                  <path d="m1 1 6 7-6 7" class="right-arrow-head_svg__ic-svg__right-arrow-head" stroke-width="2" fill="none"
                    fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </label>

              <div class="dropdownMenu">
                <ol>
                  <li>1. Make sure you're using the right card.</li>
                  <li>2. Make sure the card is not expired and the details are entered correctly, or try another card.</li>
                  <li>3. If that doesn't work, you can always pay in cash or attempt the payment later.</li>
                </ol>
              </div>
            </div>
          </div>


          <!-- ------------ three ------------- -->

          <div class="helpContainer">
            <div class="helpdrop">
              <input id="navi-toggle3" type="checkbox" class="dropdownCheckbox">
              <label for="navi-toggle3" class="dropdownButton">
                <div class="helpLabel">
                  <svg width="31" height="30">
                    <g stroke="#444" fill-rule="evenodd" fill="none">
                      <path fill="#EFEFEF" d="M3.672 7.291h23.045v15.777H3.672z"></path>
                      <path d="m6.744 10.16 8.45 6.454 8.45-6.454M6.744 19.482l3.073-3.585M23.644 19.482l-3.073-3.585"></path></g>
                  </svg>
                  <div><div class="helpText">My support requests</div></div>
                </div>
                <svg width="8" height="16"  class="helpArrow">
                  <path d="m1 1 6 7-6 7" class="right-arrow-head_svg__ic-svg__right-arrow-head" stroke-width="2" fill="none"
                    fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </label>

              <div class="dropdownMenu">
               <div class="support">
                  <svg width="180" height="180" fill="none">
                    <ellipse cx="89.754" cy="88.957" rx="43.897" ry="71.86" transform="rotate(104.957 89.754 88.957)" fill="#F7F7F7">
                    </ellipse>
                    <path
                      d="M13.863 77.83V75M10 81.686l2.246-1.297M15.275 80.389l2.247 1.297M147.863 35.83V33M144 39.686l2.246-1.297M149.275 38.389l2.247 1.297M39.777 125.523l-1.828-2.159M39.32 130.963l.877-2.442M42.508 126.564l2.553-.461M47.777 73.523l-1.828-2.16M47.32 78.963l.877-2.441M50.508 74.564l2.553-.461M92 24.027h2.795M97.697 25.274l1.297 2.246M98.994 20l-1.297 2.247M77 156.027h2.794M82.696 157.274l1.297 2.246M83.993 152l-1.297 2.247M117.341 136.05l1.561-2.318M121.557 132.022l2.588.18M117.908 128l1.139 2.331M163.34 99.05l1.561-2.318M167.556 95.022l2.588.18M163.907 91l1.139 2.33"
                      stroke="#DCDCDC" stroke-linecap="round"></path>
                    <path d="M116.5 126c9.113 0 16.5-7.387 16.5-16.5S125.613 93 116.5 93s-16.5 7.387-16.5 16.5 7.387 16.5 16.5 16.5Z"
                      fill="#fff" stroke="#707070" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="m122 105-10 10M112 105l10 10" stroke="#707070" stroke-width="3" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <mask id="empty-case-list_svg__a" fill="#fff">
                      <rect x="50" y="53" width="80" height="57" rx="2"></rect>
                    </mask>
                    <rect x="50" y="53" width="80" height="57" rx="2" stroke="#707070" stroke-width="6"
                      mask="url(#empty-case-list_svg__a)"></rect>
                    <path d="M79.2 82.154 54 56h72l-25.2 26.154S93.6 90 90 90c-3.6 0-10.8-7.846-10.8-7.846Z" fill="#707070"
                      stroke="#707070" stroke-width="3" stroke-linecap="round"></path>
                    <path
                      d="M116.7 126c9.003 0 16.3-7.298 16.3-16.3s-7.297-16.3-16.3-16.3c-9.002 0-16.3 7.298-16.3 16.3s7.298 16.3 16.3 16.3Z"
                      fill="#fff" stroke="#707070" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="m113.078 115.133-5.433-5.433M123.945 104.267l-10.867 10.866" stroke="#707070" stroke-width="3"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <div class="clear">All clear!</div>
               </div>
              </div>
            </div>
          </div>

        </div>
    </div>

  </div>
</section>
<!--############################ end ######################## -->
