<!-- ############## start home page ################# -->
<section class="layout-container p-3">
  <div class="slider_one" id="whate_we_do">
    <div class="container" id="about">

      <div class="row first">
        <div class="content col-lg-12 col--xl-12 ">
          <h4>
            <img class="aboutLogo" src="assets/images/aboutus-icon1.svg" alt="alt">
            Who We Are
          </h4>
          <p>
            Otlob is the #1 online food ordering service in Egypt. We offer the quickest, easiest, most reliable food
            ordering
            experience. Our service helps customers find restaurants in their area, filter by cuisine, browse menus, and
            place
            their orders. Customers use Otlob through our iOS and Android applications or through our website. Otlob was
            founded
            in 1999 and has helped millions of Egyptians order their food in 30 seconds or less. Our customers enjoy
            exclusive
            offers from thousands of restaurants in more than 25 cities in Egypt.
          </p>
        </div>
      </div>

      <h4>
        <img class="aboutLogo" src="assets\images\aboutus-icon2.svg" alt="alt">
        Why Otlob
      </h4>
      <div class="my-4">- Order quickly and easily in a couple of taps
        <br>- Browse from thousands of restaurants across Egypt
        <br>- Online order transmission reduces order errors and eliminates up selling
        <br>- Filter by delivery area, cuisine, pricing and delivery fees
        <br>- Sort by delivery time, customer reviews, pricing
        <br>- Explore new restaurants and check real user reviews on food and delivery quality
        <br>- Pay easily by cash on delivery or by online payment
        <br>- Never need to remember another restaurant phone number
        <br>- Browse through food delivery menus complete images and descriptions
        <br>- Avail exciting promotions and discounts from restaurants near you
        <br>- Customize your order: add extra toppings, sauces and more
        <br>- Save multiple addresses for a faster checkout
        <br>- Rate and review your order experience
        <br>- 24/7 live chat support for any assistance that you may need with your order
        <br>
      </div>


      <h4 class="my-2">
        <img class="aboutLogo" src="assets\images\aboutus-icon2.svg" alt="alt">
        How to place an order
      </h4>

      <div class="my-2">1. Open the Otlob app or go to otlob.com
        <br>2. Select your delivery area
        <br>3. Choose a restaurant
        <br>4. Add items to your cart
        <br>5. View your cart, add comments or voucher code, select “checkout”
        <br>6. Create an account or select your delivery and contact info
        <br>7. Choose your preferred payment method
        <br>8. Confirm your order
        <br>9. Enjoy our order status tracking and estimated delivery time counter
        <br>Enjoy your meal once it arrives 😊
        <br>
      </div>


      <div class="quick-facts my-4">
        <div class="row mb-3">
          <div class="col-sm-3 d-none d-sm-block">
            <img class="revImg" src="assets/images/ABe.png" alt="Arabian Business Logo">
          </div>
          <div class="col-sm-3 col-xs-10">
            <h4 class="mb-2 f-18 f-400"><span class="primary-text">2014</span> -
              <!-- -->
              <!-- -->Arabian Business
            </h4>
            <p>Awarded as best Internet Company in Kuwait for the Year 2014 by Arabian Business</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3 d-none d-sm-block">
            <img class="revImg" src="assets/images/KuwaitFoundation.png" alt="Kuwait Foundation for the Advancement of Sciences Logo">
            </div>
          <div class="col-sm-3 col-xs-10">
            <h4 class="mb-2 f-18 f-400"><span class="primary-text">2008-2009</span> <!-- -->and again in
              <!-- --> <span class="primary-text">2011-2012</span> -
              <!-- -->
              <!-- -->Kuwait e-Award
            </h4>
            <p>Won the “Kuwait e-Award” 2008-2009 and again in 2011-2012 for the e-business category from Kuwait
              Foundation
              for the Advancement of Science (KFAS)</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-3 d-none d-sm-block">
            <img class="revImg" src="assets/images/opp_1534.jpg" alt="World Summit Award Logo">
          </div>
          <div class="col-sm-3 col-xs-10">
            <h4 class="mb-2 f-18 f-400"><span class="primary-text">2014</span> -
              <!-- -->
              <!-- -->World Summit Award
            </h4>
            <p>Won the WSA 2014 “World Summit Award” for best mobile application in the M Business and Commerce category
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--##################### end ##################### -->
