.product {
    height: 80vh;
    padding-top: 20px;
}

.product img {
    max-width: 300px;
    margin-bottom: 20px;
}

h4 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 25px;
}


h4 span {
    font-weight: normal;
    color: brown;
}

  

.flush {
    position: fixed;
    z-index: 5000;
    top: 5px;
    right: 5px;
    width: 30%;
}