.order{
  width: 100%;
  text-decoration: none;
  color: #333;
  margin: 15px;
  display: inline-block;
  border-radius: 10px ;
  box-shadow: 0px 2px 5px rgba(202, 37, 16, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 15px;
}

h4{
  height: auto;
  overflow: hidden;
  padding:5px;
  font-size: 18px;
  margin-top: 10px;
}

.Order_details{
  text-decoration: none;
}

button{
  border-radius: 5px;
  border: 1px solid red;
  background-color: #fff;
  color: red ;
  transition: all .4s;
}

button:hover{
  border: 1px solid red;
  background-color: #fff;
  color: red ;

  color: white;
  background-color: red;
  border: 1px solid red;
}

.profileBtn{
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ff5a00;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn:first-child:hover, :not(.btn-check)+.btn:hover {
  background-color: #ff5a00;
  color: #fff;
  border-color: #ff5a00;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --hover-blue: hsl(245, 73%, 65%);
}

/*--------BODY CSS ENDS--------*/
.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  margin-top: 40px;
  width: fit-content;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}


/*--------ORDER CARD CSS STARTS--------*/
.order__summary {
  width: 23rem;
  max-width: 90%;
  height: 33rem;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/*--------ORDER CARD CSS ENDS--------*/

/*--------ORDER CARD CONTENT CSS STARTS--------*/
.order__summary .order__summary-image {
  width: 100%;
  height: 30%;
  border-radius: 14px 14px 0 0;
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  -ms-border-radius: 14px 14px 0 0;
  -o-border-radius: 14px 14px 0 0;
}
.order__summary .order__summary-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}
.order__summary h1 {
  text-align: center;
  padding: 0 1.8rem 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1.5rem;
}
.order__summary p.description {
  text-align: center;
  font-size: 1rem;
  color: var(--desaturated-blue);
  padding: 0 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.order__summary .order__summary-plan {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
.order__summary .order__summary-plan img {
  width: 40px;
  height: 40px;
}
.order__summary .order__summary-plan .plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  width: 55%;
  font-size: 0.8rem;
  font-weight: 500;
}
.order__summary .order__summary-plan .plan h2 {
  font-size: 0.8rem;
}
.order__summary .order__summary-plan .plan p {
  color: var(--desaturated-blue);
}
.order__summary .order__summary-plan a {
  color: var(--bright-blue);
  font-weight: 900;
  font-size: 0.8rem;
}
.order__summary .order__summary-plan a:hover {
  text-decoration: none;
  color: var(--hover-blue);
}
.order__summary button {
  display: block;
  width: 85%;
  font-size: 0.9rem;
  font-weight: 900;
  margin: auto;
  border: none;
  background: none;
  margin-top: 1.5rem;
  cursor: pointer;
  color: var(--desaturated-blue);
}
.order__summary button:hover {
  color: var(--dark-blue);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.order__summary button:first-of-type {
  color: #fff;
  padding: 0.85rem 0;
  font-weight: 700;
  border: none;
  background-color: var(--bright-blue);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 0 15px 8px 2px var(--pale-blue);
}
.order__summary button:first-of-type:hover {
  background-color: var(--hover-blue);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
/*--------ORDER CARD CONTENT CSS ENDS--------*/
