<div class="content-wrapper" *ngIf="!loading">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Rejected Orders</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/dashboard/orders">All Orders</a></li>
            <li class="breadcrumb-item active">Rejected Orders</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="mx-2">
    <div class="input-group mb-3">
      <span class="input-group-prepend">
        <div class="input-group-text bg-transparent border-right-0">
          <i class="fa fa-search"></i>
        </div>
      </span>
      <input class="form-control py-2 border-left-0 border" type="search"  placeholder="Search Order" [(ngModel)]="searchText"
      autocomplete="off">
      <span class="input-group-append">
        <button class="btn btn-outline-primary border-left-0 border" type="button">
         Search
        </button>
      </span>
    </div>

  <table class="table thead-dark">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Total Price</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let order of allOrders | filter:searchText">
          <ng-container *ngIf="order.status == 'Rejected' ">
          <td>{{order.user_id.first_name}} {{order.user_id.last_name}}</td>
          <td>{{order.total_price}}</td>
          <td>{{orderCreatedDate}}</td>
          <td class="text-danger">{{order.status}}</td>
          <td class="d-flex">
            <a class="btn btn-sm btn-warning me-3" routerLink="/dashboard/orders/{{order.id}}">
              Edit
            </a>
          </td>
        </ng-container>
        </tr>

      </tbody>
    </table>
  </section>
</div>
<div class="container text-center" *ngIf="loading">
  <app-spinner></app-spinner>
</div>