
  <section class="banner" id="banner">
  </section>
<section class="multi-verticals ng-scope custom_home mb-5">
  <div class="container container-extended text-center">
    <h2 class="section-heading text-center mt-4" ng-switch="" on="model.country.id">
      <!-- ngSwitchWhen: 8 -->
      <!-- ngSwitchDefault: -->
      <span ng-switch-default="" class="ng-scope text-center">Your everyday,
        right away</span><!-- end ngSwitchWhen: -->
    </h2>
    <p class="section-description text-center h3 m-4">Order food and grocery
      delivery online from hundreds of restaurants and shops nearby.</p>
      <a href="#popup" class="guideBtn">User Guide</a>
    <div class="flex mobile-vertical mt-5 logo_div text-center">
      <a class="app-link"
        href="https://apps.apple.com/us/app/talabat-%D8%B7%D9%84%D8%A8%D8%A7%D8%AA-food-ordering/id451001072?utm_campaign=other_campaigns_web_eat_ma_bh_display&amp;utm_source=Footer_download&amp;utm_medium=campaigns">
        <img src="../../../assets/images/logo_appstore.svg" alt="appstore talabat"></a>
      <a class="app-link"
        href="https://play.google.com/store/apps/details?id=com.talabat&amp;referrer=adjust_reftag%3Dc2VDcRfodCSbL%26utm_source%3DCooperations%26utm_campaign%3Dother_campaigns_and_eat_ma_bh_display%26utm_content%3DFooter_download&amp;utm_campaign=other_campaigns_web_eat_ma_bh_display&amp;utm_medium=campaigns&amp;utm_source=Footer_download">
        <img src="../../../assets/images/logo_playstore.svg" alt="playstore
          talabat"></a>
      <a class="app-link" href="https://appgallery.huawei.com/#/app/C100450669">
        <img src="../../../assets/images/logo_huaweistore1.svg" alt="Huawie talabat"></a>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center" id="promotion">
  <div class="containsr w-50">
    <div class="d-flex justify-content-center">
      <h2 class="heading-scondary">Promotions</h2>
    </div>
    <div class="card-group justify-content-center">

      <!-- <div class="card homeCard p-2">
        <img class="card-img-top" src="../../../assets/images/Categories/Markets/Geant/Geant.jpg" alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Geant</h5>
          <p class="card-text">All you need and more, at your convenience, French Style! Geant is finally opening in New Cairo, Egy</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card homeCard p-4">
          <img class="card-img-top" src="../../../assets/images/Categories/Markets/Carrefour/Carrefour.jpg"
            alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Carrefour</h5>
          <p class="card-text">الحق عروض المفروشات خلال خصومات كارفور فرايداي من 10 ل 13 نوفمبر! زور فروع كارفور أو كارفور أونلاين واشتري اللي نفسك فيه.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card homeCard p-4">
        <img class="card-img-top" src="../../../assets/images/Categories/Restaurants/Abou Hamza/Abou Hamza.webp" alt="Card image cap">
        <div class="card-body mt-2">
          <h5 class="card-title">Abou Hamza</h5>
          <p class="card-text">Large size Oriental Sausage Pie and chocolate pie.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> -->


        <!-- <div class="promoBox info-box info-ribbon">
          <aside><p>50%</p></aside>
          <h4>Geant</h4>
         <img class="promoImg" src="assets\images\Categories\Markets\Geant\Geant.jpg" alt="Geant">
          <p>This is where I would type real copy if this wasn't just in codepen!</p>
        </div> -->

        <!-- <div class="promoBox warning-box danger-ribbon">
          <aside><p>Ribbon Text</p></aside>
          <h4>Hero Text Goes Here Yo!</h4>
          <p>This is where I would type real copy if this wasn't just in codepen!</p>
        </div>

        <div class="promoBox success-ribbon">
          <aside><p>Ribbon Text</p></aside>
          <h4>Hero Text Goes Here Yo!</h4>
          <p>This is where I would type real copy if this wasn't just in codepen!</p>
        </div>

        <div class="promoBox success-box info-ribbon">
          <aside><p>Ribbon Text</p></aside>
          <h4>Hero Text Goes Here Yo!</h4>
          <p>This is where I would type real copy if this wasn't just in codepen!</p>
        </div> -->

        <!-- <div class="promoBox">
          <aside><p>Ribbon Text</p></aside>
          <h4>Hero Text Goes Here Yo!</h4>
          <p>This is where I would type real copy if this wasn't just in codepen!</p>
        </div> -->



        <div routerLink="/services/5" class="promoBox success-ribbon">
          <aside><p>10%</p></aside>
          <img class="promoImg" src="assets/images/Categories/Restaurants/Abou Hamza/Abou Hamza.webp" alt="Abou Hamza">
          <!-- <p>This is where I would type real copy if this wasn't just in codepen!</p> -->
        </div>

        <div routerLink="/services/1" class="promoBox success-ribbon">
          <aside><p>20%</p></aside>
          <img class="promoImg" src="assets\images\Categories\Bakeries\Bakery Khan\Bakery_Khan.webp" alt="Bakery Khan">
          <!-- <p>This is where I would type real copy if this wasn't just in codepen!</p> -->
        </div>

        <div routerLink="/services/9" class="promoBox success-ribbon">
          <aside><p>30% - 50%</p></aside>
          <img class="promoImg" src="assets/images/Categories/Markets/Carrefour/Carrefour.jpg" alt="Carrefour">
          <!-- <p class="Special" >Special Offers</p> -->
        </div>

        <div routerLink="/services/10" class="promoBox danger-box info-ribbon">
          <aside><p>50% - 70%</p></aside>
          <!-- <h4>Geant</h4> -->
         <img class="promoImg" src="assets\images\Categories\Markets\Geant\Geant.jpg" alt="Geant">
         <p class="Special" >Special Offers</p>
        </div>


  </div>
</div>

<div class="popup" id="popup">
  <div class="popup__content">
    <!-- <div class="popup__left">
        <img src="img/nat-8.jpg" alt="Tour Photo" class="popup__img">
        <img src="img/nat-9.jpg" alt="Tour Photo" class="popup__img">
      </div> -->
    <div class="popup__right">
      <h2 class="u-mb-small">Welcome to <span class="heading-primary">talabat!</span></h2>
      <a href="#banner" class="popup__close">&times;</a>
      <h5 class="heading-tertiary u-mb-small"> <span style="color: red;">Important</span> &ndash; If it's your first time you can go to the Guide Page,
        otherwise you can Login from here:</h5>
      <p class="popup__text mt-4">
        First Time? Go to the Guide Page:
          <a routerLink="/userguide" class="popupBtn">Guide Page</a>
      </p>
      <p class="popup__text">
        Already Registered.. Login Now!
        <a routerLink="/login" class="popupBtn ms-2">Login</a>
      </p>
    </div>
  </div>
</div>

